
.body {
    height: 3843px;
    width: 1400px;
}
/*NAV*/

.logo { 
    display: inline-block;
    margin-top: 22px;
    margin-left: 143px;
}

ul {
    display: inline-block;
}
.nav-section {
    display: inline-block;
    height: 78px;
    width: 1400px;
    
}

.nav-text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */
    color: #2F281E;
}

 .nav-btn1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173A56;
    padding: 11px 22px 11px 25px;
    margin-left: 29px;
    border-radius: 4px;
    border: solid #BCD0E5;
    background-color: #FFFFFF;
 }

 .nav-btn2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF; 
    padding: 11px 23px 11px 25px;
    margin-left: 14px;
    background: #FF9900; 
    border: none;
    border-radius: 4px;
 }

/*SECTION 1*/ 

.section1 {
    display: flex;
    height: 496px;
    width: 1126px;
    margin: 166px 137px 72px 137px;
}

.section1-content {
    height: 331px;
    width: 518px;
    
}

.section1-header {

}

.section1-text {

}


.section1-img {
    height: 496px;
    width: 605px;
    margin-left: 3px;
}

.section1-btn1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 41px 14px 41px;
    color: #FFFFFF; 
    background: #FF9900;
    border-radius: 4px;
    border: none;
 }

 .section1-btn2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FF9900;
    background-color: #FFFFFF;
    border: none;
 }

/*SECTION 2*/ 

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 543px;
    width: 1400px;
    margin-bottom: 120px;
}

.section2-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 108px;
    width: 539px;
    margin-bottom: 54px;
    transform: translateX(100%);
}

.section2-container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    height: 204px;
    width: 1095px;
    margin-left: 200px;
    margin-right: 200px;
     
}

.section2-content {
    display: inline-block;
    height: 178px;
    width: 240px;
    justify-content: felx-start;
}

.section2-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 34px;
   
}

.section2-btn {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 32px 14px 34px;
    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;
    border: none;
 }

/*SECTION 3*/

.section3{
    display: flex;
    height: 574px;
    width: 1110px;
    margin: 120px 145px 101px 145px;
}

.section3-container {
    height: 427px;
    width: 486px;
}

.section3-content {}

.section3-img {
    height: 574px;
    width: 520px;
}

/*SECTION 4*/

.section4 {
    display: flex;
    height: 521px;
    width: 1121px;
    margin-left: 144px;
    margin-right: 134px;
}

.section4-container {}

.section4-content {
    display: flex;
    width: 430px;
    width: 100%;
    height: 52px;
}

.section4-img {
    height: 521px;
    width: 535px;
    margin-right: 100px;
}

/*SECTION 5*/

.section5 {
    display: flex;
    height: 609px;
    width: 1110px;
    margin: 104px 143px 146px 147px;
}

.section5-container {
    height: 609px;
    width: 500px;
}

.section5-content {}

/*FOOTER*/

.section-footer {
    display: flex;
    justify-content: flex-start;
    height: 308px;
    width: 1110px;
}

.footer-nav {
    display: flex;
    flex-flow: column wrap;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 35p;
    color: #544837;
}

.footer-btn {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 15px 7px 15px;
    color: #FFFFFF;
    background: #FF9900;
    border-radius: 4px;
    border: none;
 }

.search-btn-container {
    display: left end;
    width: 325px;
    height: 199px;
    left: 944px;
    top: 3555px;
}

.search-row {
    width: 325px;
    height: 48px;
    border: solid #BCD0E5;
    margin-bottom: 20px;
}

/*HEADERS AND TEXT*/

h1 {
    width: 518px;
    height: 108px;
    left: 137px;
    top: 249px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    /* or 123% */
    color: #2F281E;
}

h2{
    height: 108px;
    width: 539px;
    font-family: 'Poppins', sans-serif;  
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2F281E;
}

h3 {
    font-family: 'Poppins', sans-serif; 
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */
    color: #2F281E;
}

h4 {
    font-family: 'Poppins', sans-serif;     
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    color: #2F281E;
}

p {
    font-family: 'Poppins', sans-serif;  
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837;
}